<% layout('/layouts/boilerplate') %>

    <body>
        <h4 class="mb-5">All Listings</h4>
        <div class="row">
            <% listings.forEach(listing=> { %>
                <div class="card col-lg-3 col-md-4 col-sm-6 col-12 mb-5 card-listing">
                    <a href="/listings/<%= listing.id %>" class="card-link">
                        <img src="<%= listing.image %>" class="card-img-top" alt="...">
                        <div class="card-body card-body-listing">
                            <p class="card-text fw-semibold">
                                <%= listing.title %> <br>
                                    Rs <%= listing.price.toLocaleString('en-PK') %> <br>
                            </p>
                        </div>
                    </a>
                </div>
                <% }); %>
        </div>
    </body>